@page "/Login"

<div class="LoginWrap">
    <div class="LoginCard">
        <div class="Logo">W</div>
        <h1>🔓 Sign in to your account</h1>
        <p>Access your dashboard, dispatch system, and earnings.</p>

        <div class="SsoButtons">
            <a class="SsoBtn" href="@Domain.Constants.WorkerConstants.OAuthGoogleStart">🔍 Google</a>
            <a class="SsoBtn" href="@Domain.Constants.WorkerConstants.OAuthGithubStart">🐙 GitHub</a>
            <a class="SsoBtn" href="@Domain.Constants.WorkerConstants.OAuthMicrosoftStart">🪟 Microsoft</a>
            <a class="SsoBtn" href="@Domain.Constants.WorkerConstants.OAuthOktaStart">🔑 Okta</a>
        </div>
    </div>
</div>



